.kasa-banner {
margin: 1%;
display: flex;
flex-direction: row;
margin-bottom: 2.7%;
}

.kasa-logo {
    margin-right: 70%;

}

.banner-nav {
    padding-top: 1.2%;
    display: flex;
}

.btn-accueil {
    color: #FF6060;
    text-decoration-line: underline;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat';
    width: 136px;
    height: 34px;
    text-decoration: none;
}

.btn-propos {
    font-family: 'Montserrat';
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    width: 58%
}

