.kasa-banner{
    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;
    display: flex;
    justify-content: space-between;
}

.kasa-logo{  
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%;
}

.banner-nav{
    position: absolute;
    left: 75.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;    
}
