.kasa-banner {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.7%;
}

.kasa-logo {
    width: 210.32px;
    height: 68px;
    object-fit: contain;
}

.banner-nav {
    display: flex;
    align-items: center;
    width: 309px;
    height: 34px;
    margin-left: 720.68px;
    margin-top: 17px;
}

.btn-accueil {
    color: #FF6060;
    text-decoration-line: underline;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat';
    width: 136px;
    height: 34px;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 57px;
}

.btn-propos {
    font-family: 'Montserrat';
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    width: 116px;
    height: 34px;
}