p {
    font-family: 'Montserrat';
}

.erreur_conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.erreur-400 {
    width: 597px;
    height: 263px;
    font-size: 288px;
    font-weight: 700;
    color: #FF6060;
    margin-top: 169px;
    margin-bottom: 0px;
    align-items: center;
    display: flex;
}

.erreur-msg {

    height: 51px;
    width: 872px;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    text-align: left;
    color: #FF6060;
    margin-top: 66px;
    margin-bottom: 0px;
}

.erreur-btn {
    height: 26px;
    width: 284px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    margin-top: 182px;
}