.kasa-footer {
    height: 209px;
    background: #000000;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.footer-logo {
    width: 18%;
    object-fit: contain;
    height: 23%;
    display: flex;
    margin-top: 5.4%;
}

.footer-texte {
    color: #FFFFFF;
    width: 41.4%;
    height: 22.1%;
    align-items: flex-end;;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2.4%;
}

@media screen and (max-width: 1921px) {
    .footer-texte{
        font-size: 1.25vw;
    }
}
@media screen and (max-width: 720px) {
    .footer-texte{
        font-size: 2.3vw;
    }
}