.kasa-footer {
    height: 209px;
    background: #000000;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.footer-logo {
    width: 18%;
    object-fit: contain;
    height: 23%;
    display: flex;
}

.footer-texte {
    color: #FFFFFF;
    height: 11%;
    display: flex;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 375px) {
    .footer-logo {
        width: 122px;
        height: 39.44px;
    }

    .footer-texte {
        font-size: 12px;
        line-height: 17.11px;
        height: 46px;
        align-items: end;
        margin: 0%;
    }
}