.loge_conteneur {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.loge_conteneur-local-tag {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loge_descr-equip {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.loge-descr{
    display: flex;
    width: 46.907%;
}

.loge-equip{
    width: 46.907%;
    display: flex;
}

@media screen and (max-width: 992px) {
    .loge_descr-equip {
        flex-direction: column;
        height: fit-content;
        align-items: center;
        margin-top: 1%;
    }

    .conteneur-proprietaire-note {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .loge_conteneur {
        flex-direction: column;

    }
    .loge-descr{
        width: 100%;
    }
    
    .loge-equip{
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .conteneur-proprietaire-note {
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 375px) {
    .loge_descr-equip{
        align-items: normal;
    }
}