.explica-texte {
    font-size: 18px;
    font-weight: 400;
    align-items: baseline;
    display: flex;
    line-height: 142.6%;
    margin-left: 3.437%;
    margin-top: 6.873%;
    margin-right: 2.062%;
    margin-bottom: 9.107%;
}