.Equipement_conteneur {
    width: 46.91%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Equipement_conteneur-titre {
    width: 100%;
    height: 17.26%;
    border-radius: 10px;
    background-color: #FF6060;
    display: flex;
    position: relative;
    top: 4%;
    justify-content: space-between;
}

.Equipement_conteneur-titre:hover {
    cursor: pointer;
}

.Equipement-titre {
    width: 21.31%;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    align-items: center;
    display: flex;
    margin: 2.24% 0% 2.24% 3.44%;

}

.vectorHaut {
    width: 4.13%;
    height: 26.4%;
    object-fit: cover;
    display: flex;
    margin: 3.1% 2.24% 3.49% 0%;
}

.active .vectorHaut {
    rotate: 180deg;
    transition: all .2s;
}

.active .Equipement_conteneur-texte {
    width: 100%;
    height: 88.6%;
    border-radius: 10px;
    background-color: #F7F7F7;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    display: flex;
}

.Equipement_conteneur-texte {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: linear;
}

.Equipement_sous-conteneur-texte {
    width: 94.5%;
    height: 73.1%;
    margin: 6.88% 2.07% 4.64% 3.44%;
    display: inline-block;
}

.Equipement-texte {
    font-size: 18px;
    font-weight: 400;
    line-height: 142.6%;
    margin-bottom: 2.6%;
    margin: 0%;
}

@media screen and (max-width: 1262px) {
    .Equipement_conteneur-texte {
        display: none;
    }

    .Equipement_conteneur {
        width: 77.91%;
    }

    .Equipement_conteneur-titre {
        top: 5%;
        align-items: baseline;
    }

    .Equipement-titre {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1262px) {
    .Equipement_conteneur {
        width: 100%;
    }

    .Equipement-titre {
        width: 77px;
        height: 19px;
        line-height: 18.54px;
    }
    .Equipement-texte{
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 375px) {
    .Equipement-titre{
        font-size: 13px;
    }
}