p {
    color: #FF6060;
    font-family: 'Montserrat';
}

.locali_box {
    height: 63.64%;
}

.locali-titre {
    font-size: 36px;
    height: 66.24%;
    margin: 0px;
    max-width: fit-content;
}

.locali-adresse {
    font-size: 18px;
    margin: 0;
    height: 33.77%;
    max-width: fit-content;
}

@media screen and (max-width: 1775px) {
    .locali-adresse {
        margin-top: 2%;
    }
}

@media screen and (max-width: 1262px) {
    .locali-titre {
        font-size: 2.8vw;
    }

    .locali-adresse {
        font-size: 2vw;
    }
}

@media screen and (max-width: 720px) {
    .locali-titre {
        font-size: 3.8vw;
    }

    .locali-adresse {
        font-size: 2.6vw;
    }
}
@media screen and (max-width: 375px) {
    .locali-titre {
        font-size: 4.8vw;
    }
    .locali-adresse {
        font-size: 3.734vw;
    }
}