.note_containe {
    display: flex;
    justify-content: end;
    width: 87.83%;
    height: 28.2%;
    margin: 0%;
    margin-top: 8.31%;
}

.containe-etoile {
    width: 18.37%;
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 2px;
    padding-left: 6px;
}

path,
svg {
    width: 12.63%;
    height: 66.7%;
    margin-left: 7.78%;
}

@media screen and (max-width: 375px) {
    .note_containe {
        width: 98px;
        height: 18px;
        margin-top: 24px;
    }

    .containe-etoile {
        width: 18px;
        height: 18px;
    }

    path,
    svg {
        width: 13.41px;
        height: 13px;
    }
}