.note_containe {
    display: flex;
    justify-content: end;
    height: 36px;
    width: 196px;
    margin-top: 21px;
}

.containe-etoile {
    width: 36px;
    height: 36px;
    align-items: center;
    display: flex;
    margin-left: 2px;
    padding-left: 6px;
}

path,
svg {
    height: 24px;
    width: 24.75px;
}

@media screen and (max-width: 375px) {
    .note_containe {
        width: 98px;
        height: 18px;
        margin-top: 24px;
    }

    .containe-etoile {
        width: 18px;
        height: 18px;
    }

    path,
    svg {
        width: 13.41px;
        height: 13px;
    }
}