.note_containe {
    display: flex;
    justify-content: end;
    width: 87.83%;
    height: 28.2%;
    margin: 0%;
    margin-top: 8.31%;
}

path,
svg {
    width: 12.63%;
    height: 66.7%;
    margin-left: 7.78%;
}

@media screen and (max-width: 992px) {
    .note_containe{
        width: 27.83%;
        margin-top: 1.31%;
        
    }
}
@media screen and (max-width: 375px) {
    .note_containe {
        width: 31%;
        height: 18px;
        margin-top: 24px;
    }

    path,
    svg {
        width: 13.41px;
        height: 13px;
    }
}