.kasa-containere-slide {
    margin-bottom: 2.42%;
    margin-top: 1.62%;
    height: auto;
}

.slide-box-photo>img {
    object-fit: cover;
    height: 415px;
    width: 100%;
    border-radius: 25px;
}

.leftArrow {
    position: absolute;
    width: 2.45%;
    height: 8.3%;
    margin-top: 8.23%;
    margin-left: 1.22%;
    object-fit: cover;
}

.rightArrow {
    position: absolute;
    margin-left: 61.48%;
    margin-top: 8.26%;
    width: 2.45%;
    height: 8.3%;
    object-fit: cover;
}

.conteur-slide {
    position: absolute;
    width: 1.27%;
    left: 48.95%;
    right: 49.11%;
    bottom: 43%;
    color: #FFF;
    font-weight: 500;
    margin: 0;
    font-size: 18px;
    line-height: 142.6%;
    margin-bottom: 1.31%;
}

@media screen and (max-width: 375px) {
    .kasa-containere-slide{
        margin-top: 27px;
        margin-bottom: 15px;
    }
    .slide-box-photo>img {
        width: 335px;
        height: 255px;
    }

    .leftArrow {
        width: 11.67px;
        height: 19.8px;
        margin-top: 118.1px;
        margin-left: 5.84px;
    }
    .rightArrow{
        width: 11.67px;
        height: 19.8px;
        margin-top: 118.1px;
        margin-left: 317.49px;
    }
    .conteur-slide{
        display: none;
    }
}