.kasa-containere-slide {
    margin-bottom: 2.42%;
    margin-top: 1.62%;
    height: auto;
}

.slide-box-photo>img {
    object-fit: cover;
    height: 415px;
    width: 100%;
    border-radius: 25px;
}

.leftArrow {
    position: absolute;
    width: 2.45%;
    height: 8.3%;
    margin-top: 156.7px;
    margin-left: 1.22%;
    object-fit: contain;
}

.rightArrow {
    position: absolute;
    margin-left: 61.48%;
    margin-top: 156.7px;
    width: 2.45%;
    height: 8.3%;
    object-fit: contain;
}

.conteur-slide {
    position: absolute;
    width: 1.27%;
    margin-top: 361px;
    margin-left: 31.8971%;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}

@media screen and (max-width: 720px) {
    .conteur-slide {
        display: none;
    }

    .rightArrow {
        margin-left: 90.48%;
        margin-top: 156px;
    }
}

@media screen and (max-width: 375px) {
    .slide-box-photo > img{
        height: 68vw;
    }
    .rightArrow {
        width: 3.1%;
        margin-top: 25.495vw;
        margin-left: 90vw;
    }
    .leftArrow {
        width: 3.1%;
        margin-top: 25.495vw;
    }
}