.tags_conteneur {
    display: flex;
    width: 100%;
    margin-top: 2.14%;
}

.tags-texte {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    margin-right: 2%;
    background-color: #FF6060;
    border-radius: 10px;
    padding-top: 0.63%;
    padding-bottom: 0.42%;
    padding-left: 3%;
    padding-right: 3%;
}

@media screen and (max-width: 375px) {
    .tags_conteneur-text {
        width: 84px;
        height: 18px;
        border-radius: 5px;
    }

    .tags-texte {
        height: 14px;
        font-size: 10px;
        line-height: 124.6%;
    }
}